<div mat-dialog-content>
  <h1>Add User</h1>
  <form autocomplete="off" [formGroup]="userForm">
    <div fxLayout fxLayoutGap="32px">
      <div>
        <mat-form-field class="full-width">
          <input
            placeholder="First name"
            matInput
            formControlName="first_name"
          />
        </mat-form-field>
      </div>
      <div>
        <mat-form-field class="full-width">
          <input placeholder="Last name" matInput formControlName="last_name" />
        </mat-form-field>
      </div>
    </div>
    <div fxLayout fxLayoutGap="32px">
      <div>
        <mat-form-field class="full-width">
          <mat-placeholder>Gender</mat-placeholder>
          <mat-select formControlName="gender">
            <mat-option [value]="'Male'">Male</mat-option>
            <mat-option [value]="'Female'">Female</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field class="full-width">
          <input placeholder="Email" matInput formControlName="email" />
        </mat-form-field>
      </div>
    </div>
    <div fxLayout fxLayoutGap="32px">
      <div>
        <mat-form-field class="full-width">
          <input placeholder="Company" matInput formControlName="company" />
        </mat-form-field>
      </div>
    </div>
  </form>
</div>
<div mat-dialog-actions>
  <button mat-raised-button (click)="closeDialog()">CLOSE</button>
  <button mat-raised-button color="primary" (click)="save()">SAVE</button>
</div>
