.home-layout-wrap {
  text-align: center;
  padding-top: 60px;
  .app-logo {
    width: 150px;
    height: auto;
    margin-bottom: 3px;
  }
  .title {
    font-size: 60px;
    line-height: 56px;
    color: #7f8084;
  }
  .page-content {
    padding-top: 60px;
  }
}
