<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    [class.isMobile]="isMobile"
    fixedInViewport="true"
    [attr.role]="'navigation'"
    [mode]="sidebarType"
    [opened]="sidebarStatus"
  >
    <mat-toolbar>
      <a class="home-button" routerLink="/">
        <img class="app-logo" src="assets/images/logo.png" />
      </a>
      <button
        mat-icon-button
        class="menu-button"
        type="button"
        aria-label="Toggle sidenav"
        (click)="drawer.toggle()"
      >
        <i class="material-icons">{{ drawer.opened ? "close" : "menu" }}</i>
      </button>
    </mat-toolbar>
    <mat-nav-list class="navigation-list">
      <a
        class="navigation-item"
        mat-list-item
        [routerLink]="'/users'"
        routerLinkActive="active"
      >
        <mat-icon class="material-icons">people</mat-icon>

        <span>USERS </span>
      </a>
      <mat-divider></mat-divider>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content class="sidenav-content">
    <mat-toolbar class="sidenav-content-toolbar" color="primary">
      <button
        style="
          margin-left: -16px;
          margin-top: -1px;
          background-color: #fff;
          margin-right: 15px;
          height: 67px;
          padding-left: 8px;
          border-radius: 0;
        "
        *ngIf="isMobile && !drawer.opened"
        mat-icon-button
        class="menu-button"
        type="button"
        aria-label="Toggle sidenav"
        (click)="drawer.toggle()"
      >
        <mat-icon class="material-icons" color="primary">{{
          drawer.opened ? "close" : "menu"
        }}</mat-icon>
      </button>
      <ng-container *ngIf="!drawer.opened">
        <a
          class="home-button"
          style="width: auto; margin-right: 15px"
          routerLink="/"
        >
          <img class="app-logo" src="assets/images/logo.png" />
        </a>
      </ng-container>
      <span>CASALE</span>
      <ng-container *ngIf="!isMobile">
        <span class="filler"> </span>
      </ng-container>
      <ng-container *ngIf="isMobile">
        <span class="filler" [class.little]="isMobile"> </span>
      </ng-container>

      <ng-container>
        <button class="user-btn" mat-icon-button [matMenuTriggerFor]="appMenu">
          <mat-icon>person</mat-icon>
        </button>
        <mat-menu #appMenu="matMenu">
          <div style="padding: 5px 15px; min-width: 250px">
            <div class="userInfo">
              <h3 style="margin-bottom: 5px; font-weight: 500">user</h3>
            </div>

            <button
              mat-raised-button
              color="warn"
              class="full-width"
              (click)="logout()"
            >
              Logout
            </button>
          </div>
        </mat-menu>
      </ng-container>
    </mat-toolbar>
    <div id="page-content" class="page-content">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
