.home-button {
  width: 100%;
  .app-logo {
    width: auto;
    height: 48px;
    margin: 0;
    display: block;
  }
  .title-side {
    font-size: 38px;
    padding-left: 60px;
  }
  &:hover {
    text-decoration: none;
  }
}
.sidenav-container {
  height: 100%;
  .sidenav {
    width: 320px;
    background-color: #fff;

    .menu-button {
      margin-left: 15px;
      &:focus {
        outline: none;
      }
    }
    .mat-toolbar {
      background: inherit;
      .mat-primary {
        position: sticky;
        top: 0;
        z-index: 1;
      }
    }
    .navigation-list {
      padding-top: 0 px;

      .navigation-item {
        &:hover {
          text-decoration: none;
        }
        &.active {
          background: #f9f9f9;
        }
        .mat-icon {
          margin-left: 2px;
          margin-right: 16px;
        }
        .navigation-item-label {
          padding-top: 2px;
        }
      }
    }
  }
  .sidenav-content {
    background: #fff;
    .sidenav-content-toolbar {
      position: relative;
      .menu-button {
        color: #fff;
      }
      .navbar-link {
        color: #fff;
        padding-right: 10px;
        cursor: pointer;
        &:hover {
          color: #fff;
        }
        &:focus {
          outline: none;
        }
      }
    }
    .filler {
      flex: 1 1 auto;
      .one {
        color: #fff;
        font-size: 36px;
      }
      .two {
        font-size: 26px;
      }
      &.little {
        margin-right: 20px;
        .one {
          font-size: 22px;
          @media (max-width: 767px) {
            font-size: 18px;
          }
        }
        .two {
          font-size: 16px;
          @media (max-width: 767px) {
            font-size: 13px;
          }
        }
      }
    }
  }
}
.feedback {
  &:hover {
    color: #666;
  }
}
.page-content {
  padding: 15px;
  padding-bottom: 45px;
  &.sticky {
    padding-bottom: 130px;
  }
  @media (max-width: 767px) {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}

/*left sidenav style override*/
mat-sidenav:not(.mat-drawer-opened) {
  transform: translate3d(0, 0, 0) !important;
  visibility: visible !important;
  width: 60px !important;
  &.isMobile {
    width: 0 !important;
    & ~ .sidenav-content {
      margin-left: 0px;
    }
  }
  overflow: hidden;
  & ~ .sidenav-content {
    margin-left: 60px;
  }
  .menu-button {
    margin-left: -7px !important;
  }
}
mat-sidenav:not(.mat-drawer-opened) .navigation-item-label {
  display: none !important;
}
mat-sidenav:not(.mat-drawer-opened) .home-button {
  display: none !important;
}

.image-avatar {
  margin-right: 8px;
  height: 65px;
  width: 65px;
  border-radius: 50%;
  object-fit: cover;
}

.hidden-button {
  background-color: Transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
  color: white;
}

.hidden-button:hover {
  color: black;
}
