<div class="wrap-page">
  <div fxLayout fxLayoutAlign="space-between center">
    <h1>Users</h1>
    <button mat-raised-button color="primary" (click)="onAddUser()">
      ADD USER
    </button>
  </div>
  <div class="users-list">
    <ng-container *ngIf="!loadingData; else loading">
      <app-users-list
        [data]="users$ | async"
        (delete)="onDeleteUser($event)"
      ></app-users-list>
    </ng-container>
    <ng-template #loading>
      <app-loading [topPaddingPixel]="30"></app-loading>
    </ng-template>
  </div>
</div>
