<div class="error-page" fxLayout="column" fxLayoutAlign="center center">
  <h1>Oops!</h1>
  <h2>Page Not Found</h2>
  <div class="error-details">
    Sorry, an error has occured, Requested page not found!
  </div>
  <div class="error-actions">
    <button mat-raised-button color="primary" (click)="goToHome()">
      <mat-icon>home</mat-icon> GO TO HOMEPAGE
    </button>

</div>
