.error-page {
  height: 100vh;
  h1 {
    margin-top: 0;
    font-size: 60px;
    line-height: 64px;
  }
  h2 {
    font-size: 30px;
  }
  .error-details {
    color: #666;
    margin-bottom: 15px;
  }
  .error-actions {
    margin-top: 15px;
  }
}
