// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import "~@angular/material/theming";
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$app-primary: mat-palette($mat-indigo);
$app-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$app-warn: mat-palette($mat-red);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$app-theme: mat-light-theme(
  (
    color: (
      primary: $app-primary,
      accent: $app-accent,
      warn: $app-warn,
    ),
  )
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($app-theme);

/* You can add global styles to this file, and also import other style files */

// define custom material palette
$mat-casale: (
  50: #e2eaf1,
  100: #b6cbdb,
  200: #86a8c4,
  300: #5585ac,
  400: #306a9a,
  500: #0c5088,
  600: #0a4980,
  700: #084075,
  800: #06376b,
  900: #032758,
  A100: #eeeeee,
  A200: #666666,
  A400: #222428,
  A700: #000000,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #ffffff,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #ffffff,
    A700: #ffffff,
  ),
);

// Override material color with custom palette
$app-primary: mat-palette($mat-casale, 500);
$app-accent: mat-palette($mat-casale, A200);
$app-theme: mat-light-theme(
  (
    color: (
      primary: $app-primary,
      accent: $app-accent,
      warn: $app-warn,
    ),
  )
);
@include angular-material-theme($app-theme);
// end Override material color with custom palette

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
body {
  width: 100%;
  font-size: 14px;
}
.full-width {
  width: 100%;
}
.half-width {
  width: 50%;
}
.img-responsive {
  max-width: 100%;
  height: auto;
}
.ellips {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus,
button:focus {
  outline: none;
}
h1,
h2,
h3 {
  color: mat-color($app-primary);
}
.mat-list-base {
  padding-top: 0 !important;
}
.mat-tab-label-content {
  color: mat-color($app-primary);
  text-transform: uppercase;
  font-weight: bold;
}
.mat-button-toggle {
  &.mat-button-toggle-appearance-standard {
    color: mat-color($app-primary);
  }
  .mat-icon {
    color: mat-color($app-primary);
  }
}
.mat-button-toggle-checked {
  background-color: mat-color($app-primary);
  color: mat-color($app-primary, default-contrast);
  &.mat-button-toggle-appearance-standard {
    color: mat-color($app-primary, default-contrast);
  }
  .mat-icon {
    color: mat-color($app-primary, default-contrast);
  }
}
button {
  .mat-icon {
    &.disabled {
      opacity: 0.4;
    }
  }
}
.forcePrimary {
  color: mat-color($app-primary);
}
/* Table Structure */

.table-overflow-x-auto {
  overflow-x: auto;
}

td.mat-cell,
td.mat-footer-cell,
th.mat-header-cell {
  padding: 0 5px !important;
}

td.mat-cell:first-of-type,
td.mat-footer-cell:first-of-type,
th.mat-header-cell:first-of-type {
  padding-left: 24px !important;
}

table {
  width: 100%;
  tr {
    &.mat-row {
      height: 36px;
      .actionsCell {
        position: relative;
        .actionsGroup {
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          right: 0;
          height: 34px;
          width: 0px;
          overflow: hidden;
          opacity: 0;
          transition: opacity 0.35s ease-in-out;
          button {
            &.mat-icon-button {
              height: 34px !important;
              line-height: 34px !important;
              vertical-align: inherit !important;
            }
          }
        }
      }
      &.selected {
        background-color: #e6e3e3 !important;
      }
      &:hover {
        background-color: #f5f5f5;
        .actionsCell {
          .actionsGroup {
            background-color: #f5f5f5;
            opacity: 1;
            width: max-content;
          }
        }
      }
    }
  }
  td {
    &.mat-cell {
      font-size: 13px;
      // line-height: 36px;
      &.group-row {
        border: 0;
        border-bottom: 1px solid rgba(0, 0, 0, 0.12);
        background-color: #fafafa;
        .mat-icon {
          vertical-align: middle;
          margin-left: -7px;
        }
      }
    }
  }
}
