<div class="table-overflow-x-auto">
  <table mat-table [dataSource]="dataSource" matSort>
    <!-- first_name Column -->
    <ng-container matColumnDef="first_name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        <div class="header-label">First Name</div>
      </th>
      <td mat-cell *matCellDef="let element">
        {{ element.first_name }}
      </td>
    </ng-container>

    <!-- last_name Column -->
    <ng-container matColumnDef="last_name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        <div class="header-label">Last Name</div>
      </th>
      <td mat-cell *matCellDef="let element">
        {{ element.last_name }}
      </td>
    </ng-container>

    <!-- gender Column -->
    <ng-container matColumnDef="gender">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        <div class="header-label">Gender</div>
      </th>
      <td mat-cell *matCellDef="let element">
        {{ element.gender }}
      </td>
    </ng-container>

    <!-- email Column -->
    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef>
        <div class="header-label">Email</div>
      </th>
      <td mat-cell *matCellDef="let element">
        {{ element.email }}
      </td>
    </ng-container>

    <!-- company Column -->
    <ng-container matColumnDef="company">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        <div class="header-label">Company</div>
      </th>
      <td mat-cell *matCellDef="let element">
        {{ element.company }}
      </td>
    </ng-container>

    <!--  Action Column -->
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef style="width: 150px"></th>
      <td mat-cell *matCellDef="let row" align="end" class="">
        <div class="">
          <ng-container>
            <button
              mat-icon-button
              (click)="$event.stopPropagation(); deleteUser(row)"
            >
              <mat-icon color="warn">delete</mat-icon>
            </button>
          </ng-container>
        </div>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>

    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" [attr.colspan]="displayedColumns.length">
        {{ noDataMessage }}
      </td>
    </tr>

    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
  <mat-paginator
    [pageSizeOptions]="[10, 15, 50, 100]"
    [pageSize]="15"
    [showFirstLastButtons]="true"
  >
  </mat-paginator>
</div>
